.list-block-item {
    flex: 1 0 20%;
    margin: 15px 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 4px;
    max-width: 25%;
}

.list-block-item img {
    max-width: 100%;
}


@media only screen and (max-width: 750px) {
    .list-block-item {
        flex: 100%;
        max-width: 100%;
    }
}