.maps-component-wrapper {
    min-width: 600px;
}

.map-infobox-container {
    font-size: 16px;
    font-color: #08233B;
}

.map-infobox-container img {
    width: 240px;
}

.map-infobox-container p {
    padding-top: 4px;
}

.map-slideshow-container {
    width: 240px;
    position: relative;
}

.map-slideshow-container .prev,.map-slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.map-slideshow-container .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.map-slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.map-slideshow-container .prev:hover,.map-slideshow-container  .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.maps-filter-by {
    margin: 10px;
}

.select-wrapper {
    display: inline-block;
}
