.single-flat-container {
    background-color: #fff;
    padding: 8px 12px;
    padding-bottom: 80px;
}

.single-flat-info p {
    margin: 12px;
}
.slideshow-container {
    width: 620px;
    position: relative;
}

.back-button {
    margin: 12px;
}

.back-button a {
    text-decoration: none;
}

.back-button a:visited {
    color: #000;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}