.filter-container {
    margin-bottom: 20px;
    display: flex;
}

.filter-container > div {
    margin-right: 44px;
}

.filter-container span {
    padding-right: 12px;
}

.flat-block-container {
    display: flex;
    flex-wrap: wrap;
}