.graph-wrapper {
    display: flex;
    flex-direction: column;
}

.analyse-table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.analyse-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.analyse-table tr:nth-child(even) {
    background-color: #dddddd;
}